@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: rgb(244,240,243);
  background: linear-gradient(135deg, rgba(244,240,243,1) 50%, rgba(234,243,247,1) 100%);
}