@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: rgb(244,240,243);
  background: linear-gradient(135deg, rgba(244,240,243,1) 50%, rgba(234,243,247,1) 100%);
}

@layer base {
  @font-face {
    font-family: 'JosefinSans-SemiBold';
    src: local('JosefinSans-SemiBold'), url(./assets/fonts/JosefinSans-SemiBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'JosefinSans-Regular';
    src: local('JosefinSans-Regular'), url(./assets/fonts/JosefinSans-Regular.ttf) format('truetype');
  }

  h1, h2, h3, h4 {
    @apply font-josefinSemiBold;
    @apply text-xl;
  }

  p, a, li, div {
    @apply font-josefin;
  }

}

/* Works on Firefox */
.scroller {
  scrollbar-width: thin;
  scrollbar-color: #7c7c7c #bebebe;
}

/* width */
.scroller::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 20px;
}

/* Corner */
.scroller::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

/* Handle horizontal */
.scroller::-webkit-scrollbar-thumb:horizontal {
  width: 0.5rem;
}